src/test/java/org/bear/bookstore/test/oxm/example4/Student.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="student">
       <xsd:complexType>
           <xsd:sequence>
              <xsd:element name="name" type="xsd:string"/>        
           </xsd:sequence>
           <xsd:attribute name="id" type="xsd:int"/>
       </xsd:complexType>
    </xsd:element>
</xsd:schema>